<div class="ui vertical segment">
  <p>
    For advanced use of SATS we provide a Java library which allows scalable and configurable experimental setups.
  </p>
  <p>
    There are two separate libraries: SATS-CORE which contains all value models and all features of SATS except the WDP
    Solvers.
    To use the winner determination problem solvers, SATS-OPT extends SATS-CORE.
  </p>
  <a class="item" href="https://github.com/" target="_blank">
    <i class="github icon"></i>
    Get SATS-CORE Code
  </a>
  <a class="item" href="https://github.com/" target="_blank">
    <i class="github icon"></i>
    Get SATS-OPT Code
  </a>
</div>
