<div class="ui container">
  <div class="ui hidden divider"></div>

  <h2 class="ui dividing header">Frequently Asked Questions</h2>

  <h3 class="ui dividing header">1. What are the differences between the three ways to access SATS?</h3>
  <div class="ui bulleted list">
    <div class="item">
      <div class="header">SATS Web Application (<code>sats-web</code>):</div>
      <div class="content">An easy-to-use web interface to generate auction
        instances (i.e., value files) directly in your browser, without having to install
        anything. The web interface allows for very light parametrization of the value models.
      </div>
    </div>
    <div class="item">
      <div class="header">SATS Command Line Tool (<code>sats-clt</code>):</div>
      <div class="content">An executable jar, allowing the generation of auction instances
        (i.e., value files) in your command line. The available options allow for some parametrization of the generated
        value functions, yet not quite as much as <code>sats-core</code>.
      </div>
    </div>
    <div class="item">
      <div class="header">SATS API (<code>sats-core</code> / <code>sats-opt</code>):</div>
      <div class="content">Java libraries to use in your own java code.
        Via the <code>sats-core</code> API, you gain access to the full feature set of SATS, including the ability to change all parameters of
        the value models, requesting values for the bundles on the fly, etc.<br>
        If you need to solve the winner determination problem for a generated auction instance, you can use
        <code>sats-opt</code> API, which extends the <code>sats-core</code> API.
      </div>
    </div>
  </div>
  <h3 class="ui dividing header">2. For which value models does SATS already contain the MIP formulation to solve the
    winner determination problem?</h3>
  <p>Currently, SATS includes a MIP for the following value models:</p>
  <ul>
    <li>Multi-Region Value Model (MRVM)</li>
    <li>Single-Region Value Model (SRVM)</li>
    <li>Local Synergy Value Model (LSVM)</li>
    <li>Global Synergy Value Model (GSVM)</li>
  </ul>
</div>
