<div class="ui hidden divider"></div>
<div class="ui container">

  <h2 class="ui dividing header">About us</h2>

  The SATS team consists of
  <ul>
    <li>Michael Weiss</li>
    <li><a href="https://www.ifi.uzh.ch/en/ce/people/seuken/.html">Prof. Dr. Sven Seuken</a>, University of Zurich
    </li>
    <li><a href="http://www.bu.edu/systems/people/lubin/">Prof. Dr. Ben Lubin</a>, Boston University</li>
    <li>Fabio Isler, University of Zurich</li>
  </ul>

  <p>
    If you use SATS for academic use, please include the following citation: <br>
    <i>SATS: A Universal Spectrum Auction Test Suite.
      Michael Weiss, Benjamin Lubin, and Sven Seuken. In Proceedings of the 16th International Conference on Autonomous
      Agents and Multiagent Systems (AAMAS), São Paulo, Brazil, May 2017</i>
  </p>
  <p>
    Contributions are welcome. If you want to contribute to the software, please contact us or follow the contribution
    guidelines in our <a href="http://www.github.com/spectrumauctions">Github Projects</a>. <br>

  </p>
  We are grateful for the contributions of
  <ul>
    <li>Nicolas Küchler</li>
  </ul>

  <p>
    Should you have any questions, remarks or bug reports, please contact <a href="mailto:seuken@ifi.uzh.ch">seuken@ifi.uzh.ch</a>
    or use our issue trackers on Github.
  </p>


</div>
