<div class="ui huge fixed inverted menu">
  <div class="ui container">
    <a [routerLink]="['/']" class="header item">Home</a>
    <a class="item" [routerLink]="['/sats-web']" [routerLinkActive]="['router-link-active']"
       [routerLinkActiveOptions]="{exact:true}">SATS Web Interface</a>
    <a class="item" [routerLink]="['/api-usage']" [routerLinkActive]="['router-link-active']"
       [routerLinkActiveOptions]="{exact:true}">API Usage</a>
    <a class="item" [routerLink]="['/faq']" [routerLinkActive]="['router-link-active']"
       [routerLinkActiveOptions]="{exact:true}">FAQ</a>
  </div>
</div>
