<div class="ui very padded inverted grey vertical center aligned segment">
  <div class="ui container">
    <h1 class="ui inverted header">SATS</h1>
    <h3>A Universal Spectrum Auction Test Suite</h3>
  </div>
</div>
<div class="ui hidden divider"></div>

<div class="ui container">
  <h2 class="ui dividing header">What is SATS?</h2>
  <p>
    SATS is a universal "Spectrum Auction Test Suite" that was developed at the <a href="http://www.uzh.ch/"target="_blank">
    University of Zurich</a> in collaboration with <a href="http://www.bu.edu/" target="_blank">Boston University</a>.
    SATS contains seven value models (some stylized and some realistic) for spectrum auctions. The SATS software provides
    auction instance generators for each of the value models, i.e., it allows a user to generate an arbitrary number of
    auction instances for any of the spectrum value models. For three of the models, SATS also contains a MIP formulation
    for the winner determination problem, which enables users to quickly find the efficient allocation of the auction.
  </p>

  <h2 class="ui dividing header">People</h2>
  <div class="ui bulleted list">
    <div class="item">Michael Weiss</div>
    <div class="item"><a href="https://www.ifi.uzh.ch/en/ce/people/seuken/.html">Prof. Dr. Sven Seuken</a>, University of Zurich</div>
    <div class="item"><a href="http://www.bu.edu/systems/people/lubin/">Prof. Dr. Ben Lubin</a>, Boston University</div>
    <div class="item">Fabio Isler, University of Zurich</div>
  </div>
  List of other contributors:
  <div class="ui list">
    <div class="item">
      <i class="angle right icon"></i>
      <div class="content">
        <a href="https://github.com/spectrumauctions/sats-core/blob/master/CONTRIBUTORS.md" target="_blank">CONTRIBUTORS.md</a>
      </div>
    </div>
  </div>

  <h2 class="ui dividing header">Software</h2>
  <p>
    SATS can be accessed in three different ways, to ensure it can be used for very basic and very sophisticated use
    cases.
  </p>
  <div class="ui bulleted list">
    <div class="item"><a [routerLink]="['/sats-web']" [routerLinkActive]="['router-link-active']"
                         [routerLinkActiveOptions]="{exact:true}">SATS Web Interface</a></div>
    <div class="item">
      <span class="rightmargin">SATS Command Line Tool</span>
      <div class="ui basic horizontal label">
        <a href="https://github.com/spectrumauctions/sats-clt/raw/master/executable/sats.jar" target="_blank">
          <i class="arrow down icon black"></i>
          JAR
        </a>
      </div>
      <div class="ui basic horizontal label">
        <a href="https://github.com/spectrumauctions/sats-clt" target="_blank">
          <i class="github icon black"></i>
          Github
        </a>
      </div>
    </div>
    <div class="item">SATS Java source code:
      <div class="ui bulleted list">
        <div class="item">
          <div class="header">
            <span class="rightmargin">SATS-Core</span>
            <div class="ui basic horizontal label">
              <a href="https://github.com/spectrumauctions/sats-core" target="_blank">
                <i class="github icon black"></i>
                Github
              </a>
            </div>
          </div>
          Contains all value models and all features of SATS, except for the winner determination solvers
        </div>
        <div class="item">
          <div class="header">
            <span class="rightmargin">SATS-Opt</span>
            <div class="ui basic horizontal label">
              <a href="https://github.com/spectrumauctions/sats-opt" target="_blank">
                <i class="github icon black"></i>
                Github
              </a>
            </div>
          </div>
          Contains only the winner determination solvers
        </div>
      </div>
    </div>
  </div>
  <p>
    We are releasing SATS under the GNU Affero license. Contributions are welcome. If you want to contribute to the
    software, please contact us or follow the contribution guidelines in our
    <a href="https://github.com/spectrumauctions">Github Projects</a>.
  </p>
  <p>
    <b>Email List:</b> If you use the SATS software, please subscribe to our email list <a href="https://lists.ifi.uzh.ch/listinfo/sats" target="_blank">here</a> such that we can inform you whenever we are releasing a new version of SATS.
  </p>

  <h2 class="ui dividing header">Paper</h2>
  <p>
    For a detailed description of SATS, its features, and in particular the Multi-Region Value Model (MRVM) contained
    in SATS, please see the following paper:
  </p>
  <p>
    <b>SATS: A Universal Spectrum Auction Test Suite.</b><br>
    Michael Weiss, Benjamin Lubin, and Sven Seuken. In <i>Proceedings of the 16th International Conference on Autonomous
    Agents and Multiagent Systems (AAMAS)</i>, São Paulo, Brazil, May 2017
    [<a href="http://www.ifi.uzh.ch/ce/publications/SATS_Weiss_et_al_AAMAS_2017.pdf" target="_blank">pdf</a>]
  </p>
  <p>
    If you use SATS for academic use, please cite the above in your work.
  </p>

  <h2 class="ui dividing header">Contact</h2>
  <p>
    If you have any questions or comments, please email us at: <a href="mailto:sats@ifi.uzh.ch">sats@ifi.uzh.ch</a>
  </p>

</div>
